<!-- This header was added after the project on 12/30/2014 -->
<header>
  <nav>
    <%= link_to "Home", "about.html"%>
    <%= link_to "Contact", "mailto:aasani.brown@hgs.hiddengeniusproject.org"%>
    <%= link_to "Git", "https://github.com/jendewalt"%>
  </nav>
</header>
<!-- End header -->
<main class="main-section">

  <section class="intro-info-section">

    <div id="top_container">

      <%= link_to "Mail", "mailto:jen.dewalt@gmail.com" %>

      <%= link_to image_tag("Iphone.jpg"), "https://www.google.com/search?q=google&oq=google&aqs=chrome..69i57j0l2j69i59j69i60l2.1433j0j9&sourceid=chrome&ie=UTF-8" %>

      <h1>Hi!</h1>

      <div id="info_container">
        <div>I'm  Mehki Miggins </div>
      </div>
    </section>

    <section class="marquee-section">

      <div id="marquee_container">
        <div>Today's Website</div>
        <%= link_to "Hello World!", "hello_world" %>
      </div>
    </section>
    <section class="website-list-section">
      <div id="website_list_container">
        <div>Day 2
          <span>
              <%= link_to "Make a deal", "guess" %>
            </span>
          </div>
        <div>Day 1
          <span>
            <%= link_to "HomePage", "index.html" %>
          </span>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer" >
    <section id="lab_social_icon_footer">
<!-- Include Font Awesome Stylesheet in Header -->

<div class="container">
        <div class="text-center center-block">
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
</div>
</section>
  </footer>
